{
  "arrowParens": "always",
  "importOrder": [
    "^@refinedev",
    "^[./]",
    "^antd",
    "^react"
  ],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": false
}